

.noteCardContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    /* background-color: #FFF7E9; */
    border-radius: 0.5rem;
    padding: 1rem;
    height: fit-content;

    border:1px solid #00000022;

}

.noteCardContainer .titleContainer,
.noteCardContainer .bodyContainer {
    display: flex;
    flex-direction: column;
    

}

.noteCardContainer .titleContainer .cardTitle {
    font-size: 1.5rem;
    font-weight: 600;
    height: 2rem;
    border: none;
    background-color: inherit;
}


.noteCardContainer .bodyContainer .cardBody {

    font-size: 1rem;
    
    
    resize: none;
    border: none;
    /* background-color: inherit; */
    
}

.noteCardContainer .cardButtons {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
    /* background-color: red; */
    padding: 5px;
    gap: 0.5rem;
}

.noteCardContainer .cardButtons button {
    width: 1.5rem;
    height: 1.5rem;
    font-size: 0.875rem;
    padding: 0;
    border-radius: 20%;
    border: none;
    background-color: #00000022;
}