@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


.container{
    display: block;
    position: relative;
    padding: 4rem 20% 0;
}

.notesContainer{
    /* display: flex;
    flex-wrap: wrap; */

    /* where i stoped */
}

* {
    font-family: 'Noto Sans', sans-serif;
}

*:focus{
    outline: none;
}