.tagEditorContainer {
    display: flex;

}

.tagListContainer {
    display: flex;
    gap: 0.5rem;
}

.tagInputContainer {
    padding: 0 0.5rem;

}

.tagComponent {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
    background-color: #33333344;
    height: 1.5rem;
    /* padding: 0.25rem 1rem; */
    border-radius: 0.5rem;

    font-size: 0.75rem;

    padding: 0 0.875rem;
    width:max-content;
}

.tagComponent:hover {
    /* background-color: red; */
    justify-content: start;
}

.tagButtonContainer {}
.tagInputField{
    height: 1.5rem;
    /* border-radius:7.5rem; */
    padding: 0;
    margin: 0;
    border:none;
    width: fit-content;
    min-width: 8rem;
}
.tagButtonContainer{
    position: absolute;
    right:2px;

}
.tagButtonContainer>button {
    display: flex;
    width: 1.25rem;
    height: 1.25rem;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 25%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffffbb;
}